<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sus trabajos mas conocidos son "La pasion de Cristo" y "BraveHeart"</h1>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/PhotoGallery">Photo Gallery</a></li>
        </ul>
</body>
</html>